<!DOCTYPE html>

<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-18020925402"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-18020925402'); </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - AxonInn Otel Yönetim Sistemi</title>
    <meta name="description" content="AxonInn Akıllı Otel Yönetim Sistemi giriş ekranı. Otelinizin operasyonel tüm süreçlerini tek bir merkezden güvenle yönetmeye hemen başlayın." />
    <meta name="keywords" content="Otel yönetim sistemi AxonInn">
    <meta name="author" content="Onur Karasu">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
  
    <meta property="og:title" content="@ViewBag.Title - AxonInn Otel Yönetim Sistemi">
    <meta property="og:description" content="Otelinizin tüm süreçlerini kolayca yönetin.">
    <meta property="og:image" content="https://www.axoninn.com.tr/axoninn.png">
    <meta property="og:url" content="https://www.axoninn.com.tr/">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
