USE [master]
GO
/****** Object:  Database [axoninnc_db]    Script Date: 23.03.2026 19:19:03 ******/
CREATE DATABASE [axoninnc_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'axoninnc_db', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\axoninnc_db.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'axoninnc_db_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\axoninnc_db_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [axoninnc_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [axoninnc_db]
GO
/****** Object:  User [axoninnc_user]    Script Date: 23.03.2026 19:19:04 ******/
CREATE USER [axoninnc_user] FOR LOGIN [axoninnc_user] WITH DEFAULT_SCHEMA=[axoninnc_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [axoninnc_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [axoninnc_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [axoninnc_user]
GO
/****** Object:  Schema [axoninnc_user]    Script Date: 23.03.2026 19:19:04 ******/
CREATE SCHEMA [axoninnc_user]
GO
/****** Object:  Table [axoninnc_user].[AuditLog]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [axoninnc_user].[AuditLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IslemTarihi] [datetime] NULL,
	[IlgiliTablo] [varchar](50) NULL,
	[KayitRefId] [bigint] NULL,
	[IslemTipi] [nvarchar](150) NULL,
	[EskiDeger] [nvarchar](max) NULL,
	[YeniDeger] [nvarchar](max) NULL,
	[YapanHotelAd] [nvarchar](100) NULL,
	[YapanDepartmanAd] [nvarchar](100) NULL,
	[YapanAdSoyad] [nvarchar](150) NULL,
 CONSTRAINT [PK__AuditLog__3214EC071A6FD3CD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departman]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departman](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[HotelRef] [bigint] NOT NULL,
 CONSTRAINT [PK_Departman] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorev]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorev](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonelRef] [bigint] NOT NULL,
	[Durum] [tinyint] NOT NULL,
	[Aciklama] [nvarchar](2000) NOT NULL,
	[KayitTarihi] [datetime] NOT NULL,
	[CozumBaslamaTarihi] [datetime] NULL,
	[CozumBitisTarihi] [datetime] NULL,
	[PersonelNotu] [nvarchar](2000) NULL,
	[AiKategori] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gorev] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GorevFotograf]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GorevFotograf](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GorevRef] [bigint] NOT NULL,
	[Fotograf] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_GorevFotograf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[DepartmanRef] [bigint] NOT NULL,
	[DogumTarihi] [datetime] NULL,
	[MedenHali] [tinyint] NULL,
	[AktifMi] [tinyint] NOT NULL,
	[TelefonNumarasi] [varchar](20) NOT NULL,
	[MailAdresi] [varchar](256) NOT NULL,
	[Sifre] [varchar](256) NOT NULL,
	[Yetki] [tinyint] NOT NULL,
	[MailOnayliMi] [tinyint] NOT NULL,
	[VerificationToken] [varchar](50) NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonelFotograf]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelFotograf](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonelRef] [bigint] NOT NULL,
	[Fotograf] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_PersonelFotograf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLog_IlgiliTablo]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_IlgiliTablo] ON [axoninnc_user].[AuditLog]
(
	[IlgiliTablo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_IslemTarihi]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_IslemTarihi] ON [axoninnc_user].[AuditLog]
(
	[IslemTarihi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_KayitRefId]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_KayitRefId] ON [axoninnc_user].[AuditLog]
(
	[KayitRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departman_HotelRef_Covering]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Departman_HotelRef_Covering] ON [dbo].[Departman]
(
	[HotelRef] ASC
)
INCLUDE([Adi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Gorev_AiKategori]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Gorev_AiKategori] ON [dbo].[Gorev]
(
	[AiKategori] ASC
)
INCLUDE([PersonelRef]) 
WHERE ([AiKategori] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gorev_KayitTarihi]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Gorev_KayitTarihi] ON [dbo].[Gorev]
(
	[KayitTarihi] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gorev_PersonelRef_Durum]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Gorev_PersonelRef_Durum] ON [dbo].[Gorev]
(
	[PersonelRef] ASC,
	[Durum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GorevFotograf_GorevRef]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_GorevFotograf_GorevRef] ON [dbo].[GorevFotograf]
(
	[GorevRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personel_Aktif_Departman]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_Aktif_Departman] ON [dbo].[Personel]
(
	[AktifMi] ASC,
	[DepartmanRef] ASC
)
INCLUDE([Adi],[Soyadi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personel_DepartmanRef]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_DepartmanRef] ON [dbo].[Personel]
(
	[DepartmanRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personel_MailAdresi_Aktif_v2]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_MailAdresi_Aktif_v2] ON [dbo].[Personel]
(
	[MailAdresi] ASC,
	[AktifMi] ASC
)
INCLUDE([DepartmanRef],[Yetki],[Sifre],[Adi],[Soyadi],[MedenHali],[TelefonNumarasi],[MailOnayliMi]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personel_TelefonNumarasi]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_TelefonNumarasi] ON [dbo].[Personel]
(
	[TelefonNumarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personel_VerificationToken_Aktif]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_VerificationToken_Aktif] ON [dbo].[Personel]
(
	[VerificationToken] ASC,
	[AktifMi] ASC
)
INCLUDE([MailAdresi],[MailOnayliMi]) 
WHERE ([VerificationToken] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelFotograf_PersonelRef]    Script Date: 23.03.2026 19:19:04 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelFotograf_PersonelRef] ON [dbo].[PersonelFotograf]
(
	[PersonelRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [axoninnc_user].[AuditLog] ADD  CONSTRAINT [DF__AuditLog__IslemT__48CFD27E]  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Personel] ADD  CONSTRAINT [DF_Personel_MailOnayliMi]  DEFAULT ((0)) FOR [MailOnayliMi]
GO
ALTER TABLE [dbo].[Departman]  WITH CHECK ADD  CONSTRAINT [FK_Departman_Hotel] FOREIGN KEY([HotelRef])
REFERENCES [dbo].[Hotel] ([ID])
GO
ALTER TABLE [dbo].[Departman] CHECK CONSTRAINT [FK_Departman_Hotel]
GO
ALTER TABLE [dbo].[Gorev]  WITH CHECK ADD  CONSTRAINT [FK_Gorev_Personel] FOREIGN KEY([PersonelRef])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[Gorev] CHECK CONSTRAINT [FK_Gorev_Personel]
GO
ALTER TABLE [dbo].[GorevFotograf]  WITH CHECK ADD  CONSTRAINT [FK_GorevFotograf_Gorev] FOREIGN KEY([GorevRef])
REFERENCES [dbo].[Gorev] ([ID])
GO
ALTER TABLE [dbo].[GorevFotograf] CHECK CONSTRAINT [FK_GorevFotograf_Gorev]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Departman] FOREIGN KEY([DepartmanRef])
REFERENCES [dbo].[Departman] ([ID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Departman]
GO
ALTER TABLE [dbo].[PersonelFotograf]  WITH CHECK ADD  CONSTRAINT [FK_PersonelFotograf_Personel] FOREIGN KEY([PersonelRef])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[PersonelFotograf] CHECK CONSTRAINT [FK_PersonelFotograf_Personel]
GO
/****** Object:  StoredProcedure [axoninnc_user].[sp_GeceIndexBakimi]    Script Date: 23.03.2026 19:19:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [axoninnc_user].[sp_GeceIndexBakimi]
AS
BEGIN
    -- İşlem mesajlarının gereksiz yere loglanmasını kapatarak performansı artırırız
    SET NOCOUNT ON;

    DECLARE @SchemaName VARCHAR(255)
    DECLARE @TableName VARCHAR(255)
    DECLARE @IndexName VARCHAR(255)
    DECLARE @Fragmentation FLOAT
    DECLARE @SQL VARCHAR(MAX)

    -- Sadece %10'dan fazla parçalanmış indeksleri bul (Gereksiz yere yormamak için)
    DECLARE IndexCursor CURSOR FOR
    SELECT 
        s.[name] AS 'Schema',
        dbtables.[name] AS 'Table', 
        dbindexes.[name] AS 'Index',
        indexstats.avg_fragmentation_in_percent
    FROM 
        sys.dm_db_index_physical_stats (DB_ID(), NULL, NULL, NULL, 'LIMITED') AS indexstats
        INNER JOIN sys.tables dbtables on dbtables.[object_id] = indexstats.[object_id]
        INNER JOIN sys.schemas s ON dbtables.[schema_id] = s.[schema_id]
        INNER JOIN sys.indexes AS dbindexes ON dbindexes.[object_id] = indexstats.[object_id]
        AND indexstats.index_id = dbindexes.index_id
    WHERE 
        indexstats.avg_fragmentation_in_percent > 10
        AND dbindexes.[name] IS NOT NULL

    OPEN IndexCursor
    FETCH NEXT FROM IndexCursor INTO @SchemaName, @TableName, @IndexName, @Fragmentation

    -- Bulunan her bozuk indeks için döngü başlat
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Parçalanma %30'dan küçükse hafif bakım (REORGANIZE), büyükse tam inşa (REBUILD) yap
        -- Şema adı ve tablo adını köşeli parantezlerle güvenli hale getiriyoruz
        IF @Fragmentation < 30
            SET @SQL = 'ALTER INDEX [' + @IndexName + '] ON [' + @SchemaName + '].[' + @TableName + '] REORGANIZE;'
        ELSE
            SET @SQL = 'ALTER INDEX [' + @IndexName + '] ON [' + @SchemaName + '].[' + @TableName + '] REBUILD;'

        -- Oluşturulan komutu çalıştır
        EXEC(@SQL)
        
        -- Bir sonraki indekse geç
        FETCH NEXT FROM IndexCursor INTO @SchemaName, @TableName, @IndexName, @Fragmentation
    END

    CLOSE IndexCursor
    DEALLOCATE IndexCursor
END
GO
USE [master]
GO
